@mixin titleicon{
	padding-left:17px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='11' viewBox='0 0 12 11'%3E%3Cpath fill='%23e3001b' d='M344.974,430.608a16.732,16.732,0,0,1,10.71-2.439.261.261,0,0,1,.233.26c.115,4.944-2.28,8.018-5,10.481-.094.075-.262.224-.43.035l-6.516-7.4a.213.213,0,0,1,.047-.318c.113-.093.956-.617.956-.616' transform='translate(-343.921 -428.037)'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
    background-position: 0 center;
}

@mixin titlewidgetBlack{
	font-size:15px;
	font-weight:700;
	line-height:1;
	color:var(--primarytextcolor);
	text-transform: uppercase;
}

@mixin titlewidgetRed{
	font-size:14px;
	font-weight:700;
	line-height:1;
	color:var(--brandtextcolor);
	text-transform: uppercase;
}


@mixin lineblock3{
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin lineblock2{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin blockwidgetstyle{
	background-color:var(--whitebg);
	box-shadow: 1px 1px 3px #00000026;
	border: 1px solid var(--widgetbordercolor);
	border-radius:5px;
}
