:root{
--fontfamily:'Rubik';
--bckfont: helvatica,Arial,sans-serif;


--bodybg:#f7f9fa;
--navbg:#eff3f6;
--whitebg:#fff;
--theme2bg:#1D2936;
--vidtheme:#1D2936;

--theme2primarytextcolor:#fff;
--theme2secondarytextcolor:#FFD23F;
--theme2textcolor:#666666;
--theme2bordercolor:#666666;

--adbodybg:#eaeaea;
--bordercolor:#d5d5d5;
--widgetbordercolor:#e2e2e2;

--primarytextcolor:#000;
--secondarytextcolor:#333;
--whitetextcolor:#fff;
--brandtextcolor:#CC0000;
--brandbgcolor:#CC0000;

--navzindex:2;

--maxcontinerwidth:100%;

--widgetgap:20px;

}
