@import '../abstracts/variables';

.brk_trand{
 			.tranding__capsule{
 				display: flex;
    			overflow-x: auto;
    			scroll-snap-type: x mandatory;
    			-ms-overflow-style: none;
    			scrollbar-width: none;
    			margin-right: -10px;
 				a{
 					text-decoration: none;
 					font-size:16px;
 					color: var(--primarytextcolor);
 					padding:8px 20px;
 					border:1px solid var(--bordercolor);
 					background-color:var(--whitebg);
 					border-radius:30px;
 					margin-right:15px;
 					white-space: nowrap;
 					scroll-snap-align: start;
    				scroll-snap-stop: always;
 				}

 				&::-webkit-scrollbar{
				display: none;
				}
 			}
 		}


@media (min-width:$desktopver){
	.brk_trand{
 		.tranding__capsule{ margin-right:0; 
 		}
 	}
 	    
}