@import '../abstracts/functions';
@import '../abstracts/mixins';

// ****************************** Static Page Navigation Section START ******************************
.static__page__navigation{
    border-radius:0px;
    .nav__container{
        h1{
             text-indent:-99999px;
             font-size:10px;
             color:var(--whitetextcolor);
             background-repeat: no-repeat;
             background-position-y:-10px;
             min-height:40px;
             margin-bottom:15px;
             &:not([style^="background-image:"]){
                text-indent:0px;
                font-size:30px;
                font-weight:500;
                min-height: auto;
                margin-bottom:10px;
             }
        }
        .secondary__navigation{
            ul{
               list-style:none;
               display: flex;
               overflow-x: auto;
               scroll-snap-type: x mandatory;
               -ms-overflow-style: none;
               scrollbar-width: none;
               padding: 0px 10px 10px;
               border-bottom: 1px solid var(--widgetbordercolor);

                li{
                    a{
                       color:var(--primarytextcolor);
                       font-weight:400;
                       font-size:16px;
                       line-height: 23px;
                       position: relative;
                       white-space: nowrap;
                       &:before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        bottom: -8px;
                        left: 0;
                        background-color:#004B72;
                        visibility: hidden;
                        transform: scaleX(0);
                        transition: all 0.3s ease-in-out;
                    }
                    }
                    &.active{
                        a{
                            &:before{
                            visibility: visible;
                            transform: scaleX(1);
                            }
                        }

                    }
                    &:not(:nth-last-child(1)){
                        margin-right:35px;
                    }
                    &:hover{
                        a{
                        &:before{
                            visibility: visible;
                            transform: scaleX(1);
                            }
                        }
                      }

                }

                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }
    }
}
// ******************* Desktop View Start *******************
@media (min-width:$desktopver){
    .static__page__navigation .nav__container .secondary__navigation ul {
        padding: 0px 00px 10px;
    }
}
// End
// ****************************** Static Page Navigation Section END ******************************

// ****************************** TEAMS LANDING PAGE START ******************************
.cricket__teams__widget{
    .widget__container{
        @include blockwidgetstyle;
        border-radius: 5px;
        .heading__nav{
            padding: 15px 20px 0px;
            h2{
                font-size: 30px;
                line-height: 38px;
                font-weight: 500;
            }
        }
        .teams__card__container{
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 15px 20px;
        .teams__card{
            display: flex;
            align-items: center;
            box-shadow: 1px 1px 3px #00000026;
            border-radius: 25px 0px 25px 0px;
            padding: 18px 20px;
            gap: 15px;
            margin-bottom: 0px;
            position: relative;
            border-bottom:6px solid #0000ff73;
            // &::before{
            //     content : "";
            //     position: absolute;
            //     left    : 0;
            //     bottom  : 0;
            //     width   : 96.5%;
            //     border-bottom:6px solid #0000ff73;
            //     border-radius: 0px 0px 25px 0px;
            // }
        }
    }
    .card__container__footer{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sharing {
            margin-bottom: var(--widgetgap);
            ul {
                list-style: none;
                display: flex;
                gap: 20px;
                padding: 10px;
          .emoj {
            display: flex;
            align-items: center;
            font-size: 15px;
            line-height: 28px;
            color: #656565;
            .rel__data {
                margin-left: 5px;
              }
          }         
        }
    }
    }
}
.tab__wrap{
    display: flex;
    gap: 10px;
    margin: 15px 10px 10px;
    .active{
        background-color: var(--brandbgcolor);
    }
    .tab{
        border: 1px solid var(--widgetbordercolor);
        border-radius: 30px;
        padding: 7px 15px 6px 15px;
        background: #F2FAFC;
        color: #666666;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        cursor: pointer;
        transition: all 0.275s linear;
        &:hover{
            box-shadow: inset 0px 0px 4px #b5b5b5;
            border-color: #cdcdcd;
        }
    }
    .active{
        background-color: var(--catbrandcolor);
        color: #ffffff;
        border: none;
    }
}
}
// ******************* Desktop View Start *******************
@media (min-width:$desktopver){
    .cricket__teams__widget{
        .widget__container{
            .teams__card__container{
                grid-template-columns: 1fr 1fr;
            }
            .card__container__footer{
                display: flex;
                .sharing {
                    margin-bottom: var(--widgetgap);
                    position: absolute;
                    right: 20px;
                    ul {
                        max-width: 340px;
                        gap: 20px;  
                        padding: 0px;    
                }
            }
            }
        }
        .tab__wrap {
            display: flex;
            gap: 10px;
            margin: 15px 0px 10px;
        }
    }
}
// End
// ****************************** TEAMS LANDING PAGE END ******************************


// ********************** IPL 2020 SECTION START **********************
.IPT__2020__widget{
       @include blockwidgetstyle;
	    padding:15px 0px 0px 0px;
      .heading__nav{
        margin-bottom:12px;
        padding:0px 20px;
        h2{
          @include titlewidgetBlack;
          color:var(--primarytextcolor);
        }
      }
      .tab__wrap{
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        padding:0px 20px;
        .active{
            background-color: var(--brandbgcolor);
        }
        .tab{
            border: 1px solid var(--widgetbordercolor);
            border-radius: 30px;
            padding: 7px 15px 6px 15px;
            background: #F2FAFC;
            color: #666666;
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            cursor: pointer;
            transition: all 0.275s linear;
            &:hover{
                box-shadow: inset 0px 0px 4px #b5b5b5;
                border-color: #cdcdcd;
            }
        }
        .active{
            background-color: var(--catbrandcolor);
            color: #ffffff;
            border: none;
        }
    }
    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        thead{
            tr{
                background-color: var(--primarytextcolor);
                th{
                    padding: 4px;
                    font-size: 16px;
                    line-height: 19px;
                    color: var(--whitetextcolor);
                    opacity:0.5;
                    text-transform: uppercase;
                }
            }
        }
		tbody {
            position: relative;
			tr {
                border-radius: 5px;
                padding-left: 20px;
                td{
                    padding: 22px 20px;
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 500;
                }
				&::after {
					content: "";
					height: 1px;
					background: var(--tableBorderColor);
					width: calc(100% - 40px);
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					box-shadow: 0px 0px 22px #00000029;
				}
				&:first-child {
					&::after {
						display: none;
					}
					background-color: var(--catbrandcolor);
					color: var(--whitetextcolor);
					font-weight: 600;
					box-shadow: 1px 1px 3px #00000029;
					border-bottom: 0px;
					td {
						&:first-child {
							border-radius: 0px 0px 0px 5px;
						}
						&:last-child {
							border-radius: 0px 0px 5px 0px;
						}
					}
				}
				&:last-child {
					border-bottom: 0px;
				}
			}
		}
	}
}
// ******************* Desktop View Start *******************
@media (min-width:$desktopver){
    .IPT__2020__widget{
        @include desktopblockwidgetstyle;
            padding:15px 0px 0px 0px;
      }
}
// End
// ********************** IPL 2020 SECTION END **********************


// ********************** PLAY IN PROGRESS SECTION START **********************
.playInProgress__widget{
    @include blockwidgetstyle;
    border-radius: 5px;
    .widget__headerImg{
        position: relative;
        .title__content{
            padding: 6px 0px;
            background-color: var(--primarytextcolor);
            position: absolute;
            bottom: 0;
            width: 100%;
            color: var(--whitetextcolor);
            text-align: right;
            padding-right: 20px;
            font-size: 12px;
            line-height: 14px;
            span{
                opacity: .7;
            }
        }
        .left__logo__section{
            position: absolute;
            top: 0;
            left: 0;
            background-color: #004B72;
            border-bottom-right-radius: 15px;
            border-top-left-radius: 10px;
            height: 96px;
            width: 96px;
        }
    }
    table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 12px 4px;
		background-color: #333333;
		border-radius: 0px 0px 5px 5px;
		tr {
			th {
				font-size: 11px;
				line-height: 16px;
				color: #CCCCCC;
				text-align: left;
				font-weight: normal;
				padding: 14px 0px;
				&:nth-child(2) {
					text-align: center;
					width: 200px;
				}
			}
			td {
				text-align: left;
				color: var(--whitetextcolor);
				.sets__container {
					display: flex;
					div {
						position: relative;
						margin-right: 12px;
						height: 30px;
						width: 26px;
						span {
							position: absolute;
							left: 9px;
							top: 7px;
						}
					}
				}
				&:first-child {
					font-size: 14px;
					line-height: 17px;
				}
				&:nth-child(2) {
					font-size: 20px;
					line-height: 18px;
					text-align: center;
				}
			}
			&:last-child {
				td {
					padding-bottom: 13px;
				}
			}
		}
	}
}
// ******************* Desktop View Start *******************
@media (min-width:$desktopver){
    .playInProgress__widget {
        table {
            tr {
                td {
                    .sets__container {
                        div {
                            position: relative;
                            margin-right: 42px;
                            height: 30px;
                            width: 26px;
                        }
                    }
                }
            }
        }
    }
}
// End
// ********************** PLAY IN PROGRESS SECTION END **********************

// ********************** FIXTURES SECTION START **********************
.fixtures__widget{
    margin-top: 15px;
    .fixtures__container{
        scroll-behavior: smooth;
        animation-duration: .4s;
        animation-name: slidein;
    }
	.heading__nav{
		margin-bottom:10px;
		h2{
			@include titlewidgetBlack;
			color:var(--primarytextcolor);
			@include titleicon;
		}
		.carousel__nav{ display: none;}
	}
    .tab__wrap{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        .active{
            background-color: var(--brandbgcolor);
        }
        .tab{
            border: 1px solid var(--widgetbordercolor);
            border-radius: 30px;
            padding: 7px 15px 6px 15px;
            background: #F2FAFC;
            color: #666666;
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            cursor: pointer;
            transition: all 0.275s linear;
            &:hover{
                box-shadow: inset 0px 0px 4px #b5b5b5;
                border-color: #cdcdcd;
            }
        }
        .active{
            background-color: var(--catbrandcolor);
            color: #ffffff;
            border: none;
        }
    }
    .status__title{
        background: transparent linear-gradient(
                273deg, #397384E2 0%, #005088 100%) 0% 0% no-repeat padding-box;
        border-radius: 5px 5px 0px 0px;
        color: white;
        padding: 11px 10px 10px;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
    }
	.carousel__container{
        .date__container{
            text-align: center;
            margin: 10px;
            span{
                background: #1A1D24;
                border-radius: 20px;
                color: var(--whitetextcolor);
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                padding: 3px 15px;
                font-weight: 500;
            }
        }
		.carousel__card{
			border-radius:5px;
			justify-content: center; 
			background-color: var(--whitebg);
            box-shadow: 4px 4px 6px #0000000D;
            border: 1px solid var(--widgetbordercolor);
            border-radius: 0px;
            position: relative;
            .notification__icon{
                position: absolute;
                right: 15px;
                top: 15px;
            }
            .live__sticker{
                font-size: 12px;
                font-weight: 600;
                color: #FFFFFF;
                background-color: #E3001B;
                padding: 3px 12px;
                border-radius: 0px 5px 5px 0px;
                position: absolute;
                left: 0;
                top: 10px;
            }
			.card__content{
                position: relative;
                padding: 0px 5px;
                .card__title{
                    @include lineblock2;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    margin: 10px 76px;
                    min-height: 35px;
                    max-height: 35px;
                }
                .team__vs__team{
                    display: flex;
                    align-items: center;
                    padding: 0px 10px;
                    min-height: 62px;
                    max-height: 62px;
                    .team__1{
                        text-align: right;
                        width: 50%;
                        .team__name{
                            padding-right: 3px;
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: 500;
                        }
                        .scoreStatus__withIcon{
                            display: flex;
                            align-items: center;
                            float: right;
                            p{
                                margin-right: 10px;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 19px;
                            }
                            .completed__score{
                                color: #656565;
                            }
                            .live__score{
                                color: var(--primarytextcolor);
                            }
                            .overs{
                                font-size: 11px;
                                line-height: 13px;
                                color: #656565;
                            }
                        }
                    }
                    .team__vs{
                        margin:0px 20px;
                        div{
                            height: 18px;
                            width: 18px;
                            background: var(--adbodybg);
                            border-radius: 50%;
                            font-size: 9px;
                            padding: 5px 3px;
                            line-height: 9px;
                            font-weight: 600;
                            margin-top: 25px;
                        }
                    }
                    .team__2{
                        text-align: left;
                        width: 50%;
                        .team__name{
                            padding-left: 2px;
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }
                        .scoreStatus__withIcon{
                            display: flex;
                            align-items: center;
                             p{
                                margin-left: 10px;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 19px;
                            }
                            .completed__score{
                                color: #656565;
                            }
                            .live__score{
                                color: var(--primarytextcolor);
                            }
                            .overs{
                                font-size: 11px;
                                line-height: 13px;
                                color: #656565;
                            }
                        }
                    }
                }
                .match__status{
                    @include lineblock2;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 600;
                    text-align: center;
                    margin: 15px 0px;
                    min-height: 36px;
                    .crr{
                        font-weight: 600;
                        color: #666666;
                    }
                }
                .match__location{
                    color: #666666;
                    font-size: 12px;
                    text-align: center;
                    margin: 15px 0px;
                }
                .full__scoreboard{
                    font-size: 12px;
                    font-weight: 500;
                    text-align: center;
                    color: #E3031B;
                    margin: 15px 0px;
                }
            }
			&:nth-last-child(1){
				margin-right:0px;
			}
		}
		&::-webkit-scrollbar{
				display: none;
				}
	}

	
}
// ******************* Desktop View Start *******************
@media (min-width:$desktopver){
    .fixtures__widget{
        .tab__wrap{
            margin-left: 0px;
        }
        .carousel__container{
            .carousel__card{
                border-radius: 15px;
            }
        }
    }
}
// End
// ********************** FIXTURES SECTION END **********************

// ************************************************* RANKING PAGE START *************************************************
.rankings__widget{
     padding:15px 0px 0px 0px;
  .ranking__container{
      background-color: var(--whitebg);
      border: 1px solid var(--widgetbordercolor);
      .ranking__container__footer{
        justify-content: center;
        position: relative;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sharing {
            margin-bottom: var(--widgetgap);
            ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding: 10px;
          .emoj {
            display: flex;
            align-items: center;
            font-size: 15px;
            line-height: 28px;
            color: #656565;
            .rel__data {
                margin-left: 5px;
              }
          }         
        }
    }
    }
    .player__first__ranking{
        background: transparent linear-gradient(
            273deg, #397384E2 0%, #005088 100%) 0% 0% no-repeat padding-box;
                display: flex;
                align-items: center;
                color: var(--whitetextcolor);
                .profile__right__content{
                    display: flex;
                    flex-direction: column;
                }
                .sr__number{
                    font-size: 24px;
                    line-height: 24px;
                    margin-left: 15px;
                    font-weight: 500;
                }
                .player__profile{
                    position: relative;
                    margin: 15px;
                    img{
                        &:nth-child(2){
                            position: absolute;
                            bottom: 0;
                            left: 70px;
                        }
                    }
                }
                    .player__name{
                        h4{
                        font-size: 24px;
                        line-height: 30px;
                        font-weight: 500;
                        a{
                            color: var(--whitetextcolor);
                        }
                        }
                        span{
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: normal;
                        }
                    }

                .player__points{
                    margin-top: 10px;
                    font-size: 30px;
                    line-height: 30px;
                    margin-right: 47px;
                    font-weight: 500;
                    display: flex;
                    gap: 15px;
                    align-items: baseline;
                    span{&:last-child{
                        font-size: 16px;
                        line-height: 24px;
                        color: #F2F2F2;
                        font-weight: normal;
                    }
                    }
                }
    }
  }
   .tab__wrap{
     display: flex;
     gap: 10px;
     margin-bottom: 15px;
     margin-left: 10px;
     .active{
         background-color: var(--brandbgcolor);
     }
     .tab{
         border: 1px solid var(--widgetbordercolor);
         border-radius: 30px;
         padding: 7px 15px 6px 15px;
         background: #F2FAFC;
         color: #666666;
         font-size: 12px;
         font-weight: 500;
         line-height: 14px;
         cursor: pointer;
         transition: all 0.275s linear;
         &:hover{
             box-shadow: inset 0px 0px 4px #b5b5b5;
             border-color: #cdcdcd;
         }
     }
     .active{
         background-color: var(--catbrandcolor);
         color: #ffffff;
         border: none;
     }
 }
 .tab__content__title{
    background: transparent linear-gradient(
        273deg, #397384E2 0%, #005088 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
    color: white;
    padding: 11px 10px 9px;
    margin-bottom: 1px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    div{
        font-size: 12px;
        color: #DCE3E5;
        padding-right: 5px;
        font-weight: 400;
    }
 }
 table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    thead{
        tr{
            background-color: var(--primarytextcolor);
            th{
                font-size: 12px;
                line-height: 20px;
                color: var(--whitetextcolor);
                text-transform: uppercase;
                padding:10px;
                font-weight: 500;
            }
        }
    }
    tbody {
        position: relative;
        tr {
            border-radius: 5px;
            padding-left: 20px;
            border-bottom: 1px solid #D1D1D1;
            td{
                padding:15px;
                font-size: 14px;
                line-height: 20px;
                color: var(--theme2textcolor);
                &:nth-child(2){
                   display: flex;
                   align-items: center;
                   text-align: left;
                   gap: 15px;
                   font-size: 14px;
                   font-weight: 500;
                   color: var(--primarytextcolor);
                }
            }
            &:first-child {
                &::after {
                    display: none;
                }
                background-color:#CCDBE3;
                color: var(--whitetextcolor);
                font-weight: 600;
                border-bottom: 0px;
                td {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--primarytextcolor);
                }
            }
        }&:first-child{
            border-bottom: none;
        }
    }
}
#players{
    table {
        tbody {
            position: relative;
            tr {
                td{
                    padding:15px;
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--theme2textcolor);
                    &:nth-child(1), &:nth-child(2){
                        td {
                            font-size: 14px;
                            font-weight: 500;
                            color: var(--primarytextcolor);
                        }
                    }
                    &:nth-child(1){
                        text-align: center;
                        gap: 15px;
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--primarytextcolor);
                     }
                    &:nth-child(2){
                       text-align: left;
                       gap: 15px;
                       font-size: 14px;
                       font-weight: 500;
                       color: var(--primarytextcolor);
                    }
                }
                &:first-child {
                    &::after {
                        display: none;
                    }
                    background-color:var(--whitebg);
                    color: var(--whitetextcolor);
                    font-weight: 600;
                    border-bottom: 0px;
                }
            }&:first-child{
                border-bottom: none;
            }
        }
    } 
}
}

// ******************* Desktop View Start *******************
@media (min-width:$desktopver){
.rankings__widget{
    .tab__wrap {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        margin-left: 0px;
    }
    .tab__content__title{
        display: flex;
        justify-content: space-between;
    }
    .ranking__container{
       .ranking__container__footer{
        flex-direction: column;
        .sharing{
            margin-bottom: var(--widgetgap);
            position: absolute;
            right: 15px;
            ul{
                list-style: none;
                display: flex;
                max-width: 340px;
                justify-content: space-between;
                gap: 20px;  
                padding: 0px;
            }
        }
       }
       .player__first__ranking{
        position: relative;
                .profile__right__content{
                    flex-direction: inherit;
                }
                .player__points{
                    flex-direction: column;
                    gap: 0px;
                    position: absolute;
                    right: 10px;
                    margin-top: 0px;
                    }
                }
    } 
    table {
        thead{
            tr{
                th{
                    &:first-child{
                        width: 55px;
                    }
                }
            }
        }
        tbody {
            position: relative;
            tr {
                border-radius: 5px;
                padding-left: 20px;
                border-bottom: 1px solid #D1D1D1;
                td{
                    padding:20px;
                    font-size: 16px;
                    line-height: 24px;
                    &:nth-child(2){
                       gap: 15px;
                       font-size: 16px;
                       padding-left: 70px;
                       img{
                           height: 48px;
                           width: 48px;
                       }
                    }
                }
                &:first-child {
                    td {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
}
// Desktop View End
// END


// ************************************************* PLAYER DETAILS PAGE START *************************************************
.playerProfileInfo__widget{
    .tab__wrap{
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        margin: 22px 10px;
        .anch__tab{
            border: 1px solid var(--widgetbordercolor);
            border-radius: 30px;
            padding: 7px 15px 6px 15px;
            background: var(--brandbgcolor);
            color: var(--whitetextcolor);
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            cursor: pointer;
            transition: all 0.275s linear;
        }
        .active{
            background-color: var(--brandbgcolor);
        }
        .tab{
            border: 1px solid var(--widgetbordercolor);
            border-radius: 30px;
            padding: 7px 15px 6px 15px;
            background: #F2FAFC;
            color: #666666;
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            cursor: pointer;
            transition: all 0.275s linear;
            &:hover{
                box-shadow: inset 0px 0px 4px #b5b5b5;
                border-color: #cdcdcd;
            }
        }
        .active{
            background-color: var(--catbrandcolor);
            color: #ffffff;
            border: none;
        }
    }
    .playerInfo__container{
        background-image: url("../../images/playerInfo-bg.png");
        color: var(--whitetextcolor);
        padding: 10px 10px 20px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .header__info{
           display: flex;
           justify-content: space-between;
            .player__name{
                margin-top: 14px;
                font-size: 24px;
                line-height: 28px;
            }
            .countryName__with__flag{
                display: flex;
                margin: 10px 0px 44px;
                img{
                    border: 1px solid #D1D1D1;
                    margin-right: 10px;
                    border-radius: 50%;
                }
                .country__name{
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: uppercase;
                    line-height: 20px;
                    margin-top: 3px;
                }
                .vertical__line{
                    height: 24px;
                    width: 1px;
                    background-color:var(--whitetextcolor);
                    margin: 0px 10px;
                }
                .player__type{
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 20px;
                    margin-top: 3px;
                }
            }
            .rhs__playerImg{
                    background-color: var(--whitebg);
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                    margin-left: -13px;
                    img{
                        width: 100px;
                        height: 100px;
                        max-width: 100px;
                    }
            }
            .playerInfo__grid{
                display: grid;
                gap: 15px;
                grid-template-columns: 1fr;
                margin-right: 15px;
                .grid__content{
                    padding: 0px 0px 15px;
                    border-bottom: 1px solid #3C7398;
                    label{
                        font-size: 12px;
                        line-height: 20px;
                        color: #B2C5D1;
                    }
                    p{
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 500;
                        white-space: nowrap;
                    }
                }
            }
        }   
    }
    .title__container{
        h2{
        background: transparent linear-gradient(
            273deg, #397384E2 0%, #005088 100%) 0% 0% no-repeat padding-box;
        border-radius: 5px 5px 0px 0px;
        color: white;
        padding: 11px 10px 9px;
        margin-bottom: 1px;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        }
     }
     .image__title__container{
        background: transparent linear-gradient(
            273deg, #397384E2 0%, #005088 100%) 0% 0% no-repeat padding-box;
        border-radius: 5px 5px 0px 0px;
        display: flex;
        align-items: center;
        height: 67px;
        img{
            margin-left: 18px;
            margin-right: 15px;
        }
        h2{
            color: white;
            font-size: 16px;
            font-weight: 500;
            margin-top: -15px;
        }
     }
     .tab__content{
        .info__inner__section{
        .inner__card{
            background-color: var(--whitebg);
            border: 1px solid var(--widgetbordercolor);
            padding: 15px;
            margin-top: -1px;
            h3{
                font-size: 14px;
                line-height: 24px;
                font-weight: 500;
            }
            p{
                font-size: 16px;
                line-height: 24px;
            }
        }
        .playerData__body__container{
            background-color: var(--whitebg);
            border: 1px solid var(--widgetbordercolor);
            display: flex;
            .body__container__lhs{
                .row{
                width: 75px;
                text-align: center;
                margin-top: 20px;
                font-size: 12px;
                font-weight: 500;
                line-height: 41px;
            }
            }
            .body__container__rhs{
                width: 100%;
                overflow-x: scroll;
                overflow-y: hidden;
                .inner__container{
                    width: 630px;
                .row{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                    text-align: center;
                    margin-right: 15px;
                    font-size: 12px;
                    line-height: 40px;
                    color: var(--theme2textcolor);
                    border-bottom: 1px solid var(--widgetbordercolor);
                    &:first-child{
                        background: var(--theme2bg);
                        color: var(--whitetextcolor);
                        border-radius: 15px;
                        padding: 5px 0px;
                        box-shadow: 1px 1px 3px #00000026;
                        border: 1px solid #4986A0;
                        font-size: 12px;
                        font-weight: 500;
                        margin-top: -20px;
                        line-height: 24px;
                        border-bottom: none;
                        margin-bottom: 5px;
                    }&:last-child{
                        border-bottom: none;
                        margin-bottom: 5px;
                    }&:nth-child(7){
                        font-weight: 500;
                    }
                }
            }
            }
        }
        }
     }
}

// ******************* Desktop View Start *******************
@media (min-width:$desktopver){
    .playerProfileInfo__widget{
        .tab__wrap{
            margin: 15px 0px 10px;
        }
        .playerInfo__container{
            padding: 20px;
            .header__info{
                .player__name{
                    font-size: 36px;
                    line-height: 43px;
                    margin-top: 0px;
                }
                .countryName__with__flag{
                    display: flex;
                    margin: 10px 0px 20px;
                }
                .rhs__playerImg{
                        background-color: var(--whitebg);
                        border-radius: 50%;
                        height: 160px;
                        width: 160px;
                        margin-left: 0px;
                        img{
                            width: 160px;
                            height: 160px;
                            max-width: 100%;
                        }
                }
                .playerInfo__grid{
                    grid-template-columns: 1fr 1fr;
                    margin-right: 15px;
                }
        }
    }
    .tab__content{
        .info__inner__section{
        .playerData__body__container{
            .body__container__rhs{
                width: 100%;
               overflow: initial;
                .inner__container{
                    width: 100%;
            }
            }
        }
        }
     }
}
}
    // Desktop View End
// END


// ************************************************* TEAMS DETAILS PAGE START *************************************************
.teamsProfile__widget{
    .tab__wrap{
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        margin: 15px 10px;
        .anch__tab{
            border: 1px solid var(--widgetbordercolor);
            border-radius: 30px;
            padding: 7px 15px 6px 15px;
            background: var(--brandbgcolor);
            color: var(--whitetextcolor);
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            cursor: pointer;
            transition: all 0.275s linear;
        }
        .active{
            background-color: var(--brandbgcolor);
        }
        .tab{
            border: 1px solid var(--widgetbordercolor);
            border-radius: 30px;
            padding: 7px 15px 6px 15px;
            background: #F2FAFC;
            color: #666666;
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            cursor: pointer;
            transition: all 0.275s linear;
            &:hover{
                box-shadow: inset 0px 0px 4px #b5b5b5;
                border-color: #cdcdcd;
            }
        }
        .active{
            background-color: var(--catbrandcolor);
            color: #ffffff;
            border: none;
        }
    }
    .teamsDetail__container{
        background-color: var(--catbrandcolor);
        color: var(--whitetextcolor);
        border: 1px solid var(--widgetbordercolor);
        border-radius: 5px 5px 0px 0px;
        padding: 10px 10px 20px;
        .header__info{
           display: flex;
           justify-content: space-between;
            .team__name{
                margin-top: 14px;
                font-size: 24px;
                line-height: 28px;
            }
        }
        .team__Info__label{
            display: flex;
            gap: 70px;
            padding: 0px 0px 15px;
            border-bottom: 1px solid #3C7398;
            .label__content{
                label{
                    font-size: 12px;
                    line-height: 20px;
                    color: #B2C5D1;
                }
                p{
                    font-size: 15px;
                    line-height: 20px;
                    font-weight: 500;
                    white-space: nowrap;
                }
            }
        }  
        .info__content{
            font-size: 16px;
            line-height: 24px;
            padding: 15px 0px 15px;
            border-bottom: 1px solid #3C7398;
        } 
        .ICC__ranking__container{
            .ranking__header{
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                color: var(--whitetextcolor);
                padding: 15px 0px;
            }
            .ranking__card__container{
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;
                .ranking__card{
                    // background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMTAiIGhlaWdodD0iMTE1IiB2aWV3Qm94PSIwIDAgMjEwIDExNSI+CiAgPGcgaWQ9Ikdyb3VwXzE3NTciIGRhdGEtbmFtZT0iR3JvdXAgMTc1NyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI4MyAtODI2KSI+CiAgICA8ZyBpZD0iUmVjdGFuZ2xlXzIxMzAiIGRhdGEtbmFtZT0iUmVjdGFuZ2xlIDIxMzAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI4MyA4MjYpIiBmaWxsPSIjZDhlNmVmIiBzdHJva2U9IiNlMmUyZTIiIHN0cm9rZS13aWR0aD0iMSI+CiAgICAgIDxyZWN0IHdpZHRoPSIyMTAiIGhlaWdodD0iMTE1IiByeD0iNSIgc3Ryb2tlPSJub25lIi8+CiAgICAgIDxyZWN0IHg9IjAuNSIgeT0iMC41IiB3aWR0aD0iMjA5IiBoZWlnaHQ9IjExNCIgcng9IjQuNSIgZmlsbD0ibm9uZSIvPgogICAgPC9nPgogICAgPHBhdGggaWQ9IlBhdGhfMzM5NyIgZGF0YS1uYW1lPSJQYXRoIDMzOTciIGQ9Ik0yMDUsMGMyLjc2MSwwLDUsMS41Nyw1LDMuNTA2VjExMS40OTRjMCwxLjkzNi0yLjIzOSwzLjUwNi01LDMuNTA2SDVjLTIuNzYxLDAtNS0xLjU3LTUtMy41MDZaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyODMgODI2KSIgZmlsbD0iI2VjZjJmNyIvPgogIDwvZz4KPC9zdmc+Cg==");
                    // width: 210px;
                    // background: #ECF2F7;
                    padding: 15px 46px;
                    text-align: center;
                    border-radius: 5px;
                    background: linear-gradient(to bottom right, #d8e6ef 0%, #d8e6ef 50%, #ecf2f7 50%, #ecf2f7 100%);
                .ranking__tag{
                        span{
                            background-color: var(--brandbgcolor);
                            border-radius: 15px;
                            padding: 1px 15px 0px;
                            font-size: 14px;
                            font-weight: bold;
                            color: var(--whitetextcolor);
                            text-transform: uppercase;
                        }
                    }
                    .ranking__position{
                        font-size: 102px;
                        line-height: 20px;
                        color: var(--primarytextcolor);
                        font-weight: 500;
                        margin: 48px 0px;
                    }
                    .ranking__footer{
                        display: flex;
                        justify-content: space-between;
                        color: var(--primarytextcolor);
                        .rating{
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: normal;
                            span{
                                font-size: 20px;
                                line-height: 20px;
                                font-weight: 500;
                                margin-left: 10px;  
                            }
                        }
                    }
                }
            }
        }
    }
}
// ******************* Desktop View Start *******************
@media (min-width:$desktopver){
    .teamsProfile__widget{
        .tab__wrap{
            margin: 15px 0px 10px;
        }
        .teamsDetail__container{
            padding: 15px 20px;
            .header__info{
                .team__name{
                    font-size: 36px;
                    line-height: 43px;
                    margin-top: 0px;
                }
        }
        .ICC__ranking__container{
            .ranking__header{
            }
            .ranking__card__container{
                grid-template-columns: 1fr 1fr 1fr;
                .ranking__card{
                    padding: 10px;
                    .ranking__tag{
                        span{
                            background-color: var(--brandbgcolor);
                            border-radius: 15px;
                            padding: 2px 15px;
                            font-size: 12px;
                            font-weight: bold;
                            color: var(--whitetextcolor);
                        }
                    }
                    .ranking__position{
                        font-size: 62px;
                        line-height: 20px;
                        color: var(--primarytextcolor);
                        font-weight: 500;
                        margin: 22px 0px;
                    }
                    .ranking__footer{
                        display: flex;
                        justify-content: space-between;
                        color: var(--primarytextcolor);
                        .rating{
                            font-size: 12px;
                            line-height: 20px;
                            font-weight: normal;
                            span{
                                font-size: 15px;
                                line-height: 20px;
                                font-weight: 500;
                                margin-left: 10px;  
                            }
                        }
                    }
                }
            }
        }
    }
}
}
    // Desktop View End
// END


// ************************************************* TEAMS DETAILS PAGE START *************************************************
.fullScoreboard__container{
    .play__in__progress{
        position: relative;
        background-color: #363B46;
        text-align: center;
        font-size: 12px;
        color: var(--tableBorderColor);
        padding: 8px 0px;
        border-radius: 5px 5px 0px 0px;
        .live__tag{
            position: absolute;
            left: 0;
            top: 0;
            background-color: var(--brandbgcolor);
            color: var(--whitetextcolor);
            font-size: 12px;
            font-weight: bold;
            padding: 8px 11px 8px 9px;
            border-radius: 5px 0px 5px 0px;
        }
    }
    .liveScore__container{
        background-image: url("../../images/BG2.png");
        background-position: center;
        background-repeat: no-repeat;
    }

}
// ******************* Desktop View Start *******************
@media (min-width:$desktopver){

}
    // Desktop View End
// END
