@import '../abstracts/functions';
@import '../abstracts/mixins';

// ****************************** Static Page Navigation Section START ******************************
.static__page__navigation{
    border-radius:0px;
    .nav__container{
        h1{
             text-indent:-99999px;
             font-size:10px;
             color:var(--whitetextcolor);
             background-repeat: no-repeat;
             background-position-y:-10px;
             min-height:40px;
             margin-bottom:15px;
             &:not([style^="background-image:"]){
                text-indent:0px;
                font-size:30px;
                font-weight:500;
                min-height: auto;
                margin-bottom:10px;
             }
        }
        .secondary__navigation{
            ul{
               list-style:none;
               display: flex;
               overflow-x: auto;
               scroll-snap-type: x mandatory;
               -ms-overflow-style: none;
               scrollbar-width: none;
               padding-bottom:10px;
               border-bottom: 1px solid var(--widgetbordercolor);

                li{
                    a{
                       color:var(--primarytextcolor);
                       font-weight:400;
                       font-size:16px;
                       line-height: 23px;
                       position: relative;
                       white-space: nowrap;
                       &:before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        bottom: -8px;
                        left: 0;
                        background-color:#004B72;
                        visibility: hidden;
                        transform: scaleX(0);
                        transition: all 0.3s ease-in-out;
                    }
                    }
                    &.active{
                        a{
                            &:before{
                            visibility: visible;
                            transform: scaleX(1);
                            }
                        }

                    }
                    &:not(:nth-last-child(1)){
                        margin-right:35px;
                    }
                    &:hover{
                        a{
                        &:before{
                            visibility: visible;
                            transform: scaleX(1);
                            }
                        }
                      }

                }

                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }
    }
}
// ****************************** Static Page Navigation Section END ******************************


// ****************************** CRICKET TEAMS WIDGET START ******************************
.cricket__teams__widget{
    .widget__container{
        @include blockwidgetstyle;
        border-radius: 5px;
        .heading__nav{
            padding: 15px 20px 0px;
            h2{
                font-size: 30px;
                line-height: 38px;
                font-weight: 500;
            }
        }
        .teams__card__container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding: 15px 20px;
        .teams__card{
            display: flex;
            align-items: center;
            box-shadow: 1px 1px 3px #00000026;
            border-radius: 25px 0px 25px 0px;
            padding: 18px 20px;
            gap: 15px;
            margin-bottom: 0px;
            position: relative;
            border-bottom:6px solid #0000ff73;
            // &::before{
            //     content : "";
            //     position: absolute;
            //     left    : 0;
            //     bottom  : 0;
            //     width   : 96.5%;
            //     border-bottom:6px solid #0000ff73;
            //     border-radius: 0px 0px 25px 0px;
            // }
        }
    }
    .card__container__footer{
        display: flex;
        justify-content: center;
        position: relative;
        .sharing {
            margin-bottom: var(--widgetgap);
            position: absolute;
            right: 20px;
            ul {
            list-style: none;
            display: flex;
            max-width: 340px;
            justify-content: space-between;
            gap: 20px;
          .emoj {
            display: flex;
            align-items: center;
            font-size: 15px;
            line-height: 28px;
            color: #656565;
            .rel__data {
                margin-left: 5px;
              }
          }         
        }
    }
    }
}
.tab__wrap{
    display: flex;
    gap: 10px;
    margin: 15px 0px 10px;
    .active{
        background-color: var(--brandbgcolor);
    }
    .tab{
        border: 1px solid var(--widgetbordercolor);
        border-radius: 30px;
        padding: 7px 15px 6px 15px;
        background: #F2FAFC;
        color: #666666;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        cursor: pointer;
        transition: all 0.275s linear;
        &:hover{
            box-shadow: inset 0px 0px 4px #b5b5b5;
            border-color: #cdcdcd;
        }
    }
    .active{
        background-color: var(--catbrandcolor);
        color: #ffffff;
        border: none;
    }
}
}
// ****************************** CRICKET TEAMS WIDGET END ******************************


@media (min-width:$desktopver){
    .section__secondary__nav{
        border-radius:5px;
        padding: 13px 20px;
        .nav__container{
            h1{
                &:not([style^="background-image:"]){
                    font-size:50px;
                }
            }
        }
    }
}