@import '../abstracts/functions';
@import '../abstracts/mixins';
.accordion__widget{
  .accordion__item__header{
      background:#1D2936;
      color:#fff;
      border-radius:5px 5px 0 0;
      padding:8px 10px 8px 20px;
      font-size:16px;
      line-height: 24px;
      text-transform:uppercase;
      font-weight:500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 34px;
        height: 14px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            width: 1px;
            height: 14px;
            background-color: #fff;
            transition: all 0.3s ease-in-out;
        }
        &:before{
            content: "";
            position: absolute;
            width: 14px;
            height: 1px;
            background-color: #fff;
            pointer-events: all;
            transition: all 0.3s ease-in-out;
        }
      }
      &.active{
        .icon {
            &:after{
                transform: rotate(90deg);
            }
            &:before{
                transform: rotate(180deg);
            }
        }
      }
    &:not(.active){
        border-radius:5px;
    }
  }
  .accordion__item__body{
      .accordion__item__body__content{
      border:1px solid var(--widgetbordercolor);
      border-top:0px;
      border-radius:0 0 5px 5px;
      .item__row{
          border-bottom:1px solid #c6c6c6;
          padding:10px 0 20px;
         .row__title{
             display: flex;
             justify-content: center;
             align-items: center;
             font-size:14px;
             line-height:20px;
             font-weight:500;
             text-transform: uppercase;
             color:var(--primarytextcolor);
             padding-bottom: 10px;
         }
         .row{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            .col{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 0 10px;
                span{
                    display: block;
                    font-size:16px;
                    line-height:24px;
                    color:var(--textcolor666);
                    a{
                        color:var(--techbrandtextcolor);
                        text-transform: uppercase;
                        font-size:14px;
                        line-height:20px;
                        font-weight: 500;
                    }
                }
                &:not(:last-child){
                    border-right:1px solid var(--widgetbordercolor);
                }
            }
         }
          &:nth-last-child(1){
              border-bottom:0px;
          }
      }
    }
  }
}

@media (min-width:$desktopver){

}