@import '../abstracts/functions';
@import '../abstracts/mixins';

.bingeWatch__widget{
	@include blockwidgetstyle;
	padding:15px 0px 15px 10px;
	overflow: hidden;
	.heading__nav{
		margin-bottom:12px;
		h2{
			@include titlewidgetBlack;
			color:var(--primarytextcolor);
			@include titleicon;
		}
		.carousel__nav{ display: none;}
	}
	.binge__calendar__footer {
        background-color: var(--theme2secondarytextcolor);
        height: 40px;
        border-radius: 0px 0px 5px 5px;
        margin-left: 0px;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        span {
            margin: 11px 31px 11px 15px;
        }
        .calendar__icon {
            margin: 8.23px 0px;
        }
        .play__icon {
            margin: 12px 0px 14px 0px;
        }
    }
    .divider {
        border: 1px solid #676666;
        width: 100%;
        margin: 20px -10px;
    }
    .viewall__bnt {
        margin-bottom: 5px;
    }
    .binge__calendar__container {
        height: auto;
        background: #1a1d24;
        width: 100%;
        padding: 17px 15px;
        .bingeCardGrid__title {
            display: flex;
            margin-bottom: 16px;
            span {
                font-size: 14px;
                line-height: 22px;
                font-weight: 500;
                text-transform: uppercase;
                color: var(--whitetextcolor);
                margin-right: 15px;
            }
            .title_batch {
                background-color: var(--theme2secondarytextcolor);
                border-radius: 10px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                height: 20px;
                padding: 2px 31px 1px 31px;
            }
        }
        .binge__calendar_grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--widgetgap);
            .img__card {
                display: flex;
                .img__card__rhs {
                    margin-left: 10px;
                    margin-top: -7px;
                    .img__card__rhs__title {
                        font-size: 14px;
                        line-height: 28px;
                        font-weight: 500;
                        color: var(--whitetextcolor);
                    }
                    p {
                        font-size: 14px;
                        line-height: 20px;
                        color: #c7c7c7;
                        margin-bottom: -3px;
                    }
                    .watch__trailer {
                        display: flex;
                        margin-top: 8px;
                        span {
                            font-size: 10px;
                            font-weight: 500;
                            color: var(--whitetextcolor);
                            text-transform: uppercase;
                            margin-top: 4px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
    .carousel__container{
		display: flex;
    	-ms-overflow-style: none;
    	scrollbar-width: none;
		position: relative;
		overflow-x: auto;
		overscroll-behavior-x: contain;
		-ms-scroll-snap-type: x mandatory;
		scroll-snap-type: x mandatory;
		.carousel__image{
    		width: 200px;
		 	border-radius: 5px;
            scroll-snap-align: start;
            scroll-snap-stop: always;
            flex: 0 0 260px;
            margin-right: 15px;
            img {
                border: 1px solid var(--widgetbordercolor);
                border-radius: 5px;
            }
            .img__desc {
                .img__title {
                    font-size: 14px;
                    line-height: 18px;
                    color: var(--theme2secondarytextcolor);
                    text-transform: uppercase;
                    font-weight: 500;
                    margin: 15px 0px 10px;
                }
                h3 {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    a {
                        color: var(--whitetextcolor);
                    }
                }
            }
        }
        &::-webkit-scrollbar{
            display: none;
            }
    }

	&.carouseltheme2{
		background:var(--catbrandcolor, #1D2936);
			h2{
				color:var(--theme2primarytextcolor);
			}
			.carousel__nav{
				.navbutn{
					background-color:#fff;
					&:after{
						border-color:#000;
					}
					&.is__disabled{
						background-color:#9d9d9d;
					}
				}
			}
			.carousel__container{
				.carousel__card {
					.card__desc{
						background-color:#fff;
						}

				}
			}
	}
}
.binge_without_title{
    padding: 10px 0px 10px 20px !important;
    .binge__calendar__container{
      .bingeCardGrid__title{
          .title_batch{
            background-color: var(--whitebg);
            border-radius: 30px;
            font-size: 12px;
            font-weight: 500;
            padding: 7px 15px;
            line-height: normal;
            height: auto;
            margin-right: 10px;
          }
         .active__batch{
            background-color: var(--theme2secondarytextcolor);
            font-weight: bold;
          }
      }
    }
    .binge__calendar__footer{
       margin-bottom: 0px;
    }
    }

@media (min-width:$desktopver){
	.bingeWatch__widget{
		@include desktopblockwidgetstyle;
		padding:15px 0px 15px 20px;
        .binge__calendar__footer {
            margin-left: -10px;
        }
        .binge__calendar__container {
            margin: 0px -10px;
            height: 156px;
            .binge__calendar_grid {
                grid-template-columns: 1fr 1fr;
                padding: 0;
            }
        }
		.carousel__container{
            margin: 0px -10px;
			.carousel__card{
				.card__desc{
					h3{
						font-size:16px;
						line-height:24px;
					}
				}
			}
		}
	}
}