@import '../abstracts/functions';
@import '../abstracts/mixins';

.category__byline{
    display:flex;
    align-items: center;
    margin-bottom:var(--magrin15);
    .profile__pic{
        margin-right:10px;
        img{
            width:40px;
            height:40px;
            border:1px solid #d1d1d1;
            border-radius:100%;
        }
    }
    .profile__details{
        .category__author{
            font-size:14px;
            line-height:22px;
            font-weight:600;
        }
        .catupdates{
            font-size:14px;
            line-height:22px;
            color:var(--textcolor666);
            .catloction{
                margin-right:5px;
            }
        }

    }

    &.theme2{
        
            .profile__details{
                .category__author{
                    a{
                        color:var(--whitetextcolor);

                    }
                }
                .catupdates{
                    color:var(--whitetextcolor);
                }
            }

        
    }

}



@media (min-width:$desktopver){
    .category__byline{
        .profile__pic{
            margin-right:15px;
            img{
                width:50px;
                height:50px;
                
            }
        }
    }
}