@import '../abstracts/mixins';
@import '../abstracts/functions';

.carouselimg__widget{
	@include blockwidgetstyle;
	padding:15px 0px 15px 10px;
	overflow: hidden;
	.heading__nav{
		margin-bottom:12px;
		h2{
			@include titlewidgetBlack;
			color:var(--primarytextcolor);
			@include titleicon;
		}
		.carousel__nav{ display: none;}
	}
	
	.carousel__container{
		display: flex;
    	-ms-overflow-style: none;
    	scrollbar-width: none;
		position: relative;
		overflow-x: auto;
		overscroll-behavior-x: contain;
		-ms-scroll-snap-type: x mandatory;
		scroll-snap-type: x mandatory;
		.carousel__card{
			scroll-snap-align: start;
    		scroll-snap-stop: always;
    		width: 280px;
    		flex: 0 0 280px;
    		margin-right:15px;
			.card__figure{
				position: relative;
				img{
					border-radius: 5px;
					border: 1px solid var(--widgetbordercolor);
					}
			}
			&:nth-last-child(1){
				margin-right:0px;
			}
		}
		&::-webkit-scrollbar{
				display: none;
				}
	}

	&.carouseltheme2{
			background-color:var(--theme2bg);
			h2{
				color:var(--theme2primarytextcolor);
			}
			.carousel__nav{
				.navbutn{
					background-color:#fff;
					&:after{
						border-color:#000;
					}
					&.is__disabled{
						background-color:#9d9d9d;
					}
				}
			}
	}
}

@media (min-width:$desktopver){
	.carouselimg__widget{
		@include desktopblockwidgetstyle;
		padding:15px 0px 15px 20px;
		.heading__nav{
			margin-bottom:10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.carousel__nav{
				width:65px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-right:20px;
			   .navbutn{
				   width:25px;
				   height:25px;
				   border-radius:100%;
				   background-color:#000;
				   position: relative;
				   cursor: pointer;
				   border:0px;
				   &.carousel__prev{
					   &:after{
						  transform: rotate(-45deg);
						  left:10px;
					   }
				   }
				   &.carousel__next{
					   &:after{
					   transform: rotate(135deg);
					   }
				   }
				   &.is__disabled{
					   background-color:#d5d5d5;
					   &:after{
						   border-color:#000;
					   }
				   }
				   &:after{
				   content: "";
				   position: absolute;
				   display:block;
				   width:7px;
				   height:7px;
				   border-top: 2px solid #fff;
				   border-left: 2px solid #fff;
				   top:9px;
				   left:8px;
	
				   }
			   }
		   }
		}
	}
}