.carousel916__widget{
    .anchor__pannel{
        scroll-behavior: smooth;
        animation-duration: .4s;
        animation-name: slidein;
    }
    .heading__nav{
        .tab__wrap{
            display: flex;
			gap: 10px;
			margin-bottom: 15px;
            .active{
                background-color: var(--brandbgcolor);
            }
            .tab{
                text-transform: uppercase;
                border: 1px solid var(--widgetbordercolor);
                border-radius: 30px;
                padding: 7px 50px 6px 50px;
                background: #F2FAFC;
                color: #666666;
                font-size: 15px;
                font-weight: 500;
                line-height: 18px;     
                cursor: pointer;
                transition: all 0.275s linear;
                &:hover{
                    box-shadow: inset 0px 0px 4px #b5b5b5;
                    border-color: #cdcdcd;
                }
            }
            .active{
                background-color: var(--brandbgcolor);
                color: #ffffff;
                border: none;
            }
        }
    }
    .carousel__container{
        .anchor__carousel__card{
            scroll-snap-align: start;
            scroll-snap-stop: always;
            flex: 0 0 142px;
            margin-right: 25px;
            border-radius: 5px;
            .card__desc{
                margin-top: 10px;
                text-align: center;
                h4{
                    font-size: 16px;
                    font-weight: normal;
                    color: #000000;
            }
            }
            .anchor__card__figure{
                position: relative;
                a{
                    img{
                        border-radius: 50%;
                        border: 1px solid #e2e2e2;
                        transition: all 0.275s linear;
                        transform: scale(0.97);
                    }
                    &:hover{
                        img{
                            transform: scale(1);
                            border-color:var(--brandbgcolor);
                        }
                    }

                } 
            }
        }
        .shows__carousel__card{
            scroll-snap-align: start;
            scroll-snap-stop: always;
            margin-right: 15px;
            width: 240px;
            flex: 0 0 240px;
            .card__desc{
                margin-top: 2px;
                text-align: center;
                h4{
                    font-size: 16px;
                    font-weight: normal;
                    background-color: #E3031B;
                    border-radius: 5px;
                    padding: 5.19px;
                    a{
                        color: #ffffff;
                    }
                }
            }
            .shows__card__figure{
                position: relative;
                a img{
                    border-radius: 5px;
                }
            }
        }
    }
}

@keyframes slidein {
    from {
      margin-left: 20%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }