@import '../abstracts/mixins';
@import '../abstracts/functions';

.carouselcirularimg__widget{
	@include blockwidgetstyle;
	padding:15px 0px 20px 10px;
	overflow: hidden;
	.heading__nav{
		margin-bottom:10px;
		display: flex;
        justify-content: space-between;
        align-items: center;
		h2{
			@include titlewidgetBlack;
			color:var(--primarytextcolor);
			@include titleicon;
		}
		.carousel__nav{
			width:65px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-right:20px;
		   .navbutn{
			   width:25px;
			   height:25px;
			   border-radius:100%;
			   background-color:#000;
			   position: relative;
			   cursor: pointer;
			   &.carousel_prev{
				   &:after{
					  transform: rotate(-45deg);
					  left:10px;
				   }
			   }
			   &.carousel_next{
				   &:after{
				   transform: rotate(135deg);
				   }
			   }
			   &.is-disabled{
				   background-color:#d5d5d5;
				   &:after{
					   border-color:#000;
				   }
			   }
			   &:after{
			   content: "";
			   position: absolute;
			   display:block;
			   width:7px;
			   height:7px;
			   border-top: 2px solid #fff;
			   border-left: 2px solid #fff;
			   top:9px;
			   left:8px;

			   }
		   }
	   }
	}
	.carousel__container{
		display: flex;
    	overflow-x: auto;
    	scroll-snap-type: x mandatory;
    	-ms-overflow-style: none;
    	scrollbar-width: none;
		.carousel__card{
			scroll-snap-align: start;
			scroll-snap-stop: always;
			width: 250px;
			border-radius:5px;
			margin-right:10px;
			display: flex; 
			flex: 0 0 250px;
			flex-direction: column;
			justify-content: center; 
			background-color:#1A1D24;
			.carousel_item_continer{
				padding:0 10px;
				.reporter_img{
					margin:20px 0;
					text-align: center;
					display: flex;
					justify-content: center;
					img{
						border: 5px solid var(--bordercolor);
						border-radius: 100%;
						width:90px;}
				
				}
				.content_title{ 
					min-height: 86px;
					a{
						text-align: center;
						font-size:16px;
						line-height:22px;
						margin-bottom:20px;
						color:var(--whitetextcolor);
						font-weight:500;
						@include lineblock3;
						}
				
				}
				.byline_designation {
					border-top: 1px solid #676666;
					padding: 10px 0 10px;
					height: 71px;
					display: flex;
					align-items: center; 
					justify-content: space-evenly;
					flex-direction: column;
					.content_byline_title{
						font-size:14px; 
						line-height:1; 
						color:var(--whitetextcolor); 
						font-style: italic; 
						text-align: center;
					
					}
					.content_byline_designation{
						font-size:12px; 
						line-height:1; 
						color:#A5A5A5;
						text-align: center;
					}
				
				}
			
			}
			&:nth-last-child(1){
				margin-right:0px;
			}
		}
		&::-webkit-scrollbar{
				display: none;
				}
	}

	
}

@media (min-width:$desktopver){
	.carouselcirularimg__widget{
		@include desktopblockwidgetstyle;
		padding:15px 0px 15px 20px;
	}
}