@import '../abstracts/variables';
@import '../abstracts/mixins';

.carousel916__widget{
	@include blockwidgetstyle;
	padding:15px 0px 15px 20px;
	overflow: hidden;
	.heading__nav{
		margin-bottom:12px;
		h2{
			@include titlewidgetBlack;
			color:var(--primarytextcolor);
			@include titleicon;
		}
	}
	.carousel__container{
		display: flex;
    	overflow-x: auto;
    	scroll-snap-type: x mandatory;
    	-ms-overflow-style: none;
    	scrollbar-width: none;
		.carousel__card{
			scroll-snap-align: start;
    		scroll-snap-stop: always;
    		width: 200px;
    		flex: 0 0 200px;
    		margin-right:15px;
			border: 1px solid var(--widgetbordercolor);
		 	border-radius: 5px;
			.card__figure{
				position: relative;
				img{
					border-radius: 5px 5px 0 0;
					border-bottom: 1px solid var(--widgetbordercolor);
					}
			}
			.card__desc{
				padding:16px 10px 20px;
				.card__slug{
					@include titlewidgetRed;
					margin-bottom:4px;
					display: block;
				}
				h3{
					font-size: 14px;
					line-height: 20px;
					font-weight:400;
					a{
						text-decoration: none;
						@include lineblock3;
					}
				}
			}

			&:nth-last-child(1){
				margin-right:0px;
			}
		}
		&::-webkit-scrollbar{
				display: none;
				}
	}

	&.carouseltheme2{
			background-color:var(--theme2bg);
			h2{
				color:var(--theme2primarytextcolor);
			}
			.carousel__container{
				.carousel__card {
					.card__desc{
							.card__slug{
								color:var(--theme2secondarytextcolor);
							}
							
							h3{
								a{
									color:var(--theme2primarytextcolor);
								}
							}
						}

				}
			}

			

	}
}