@import '../abstracts/functions';

.conclave__secondary__nav{
    .nav__container{
        width: 100%;
        height: 200px;
        background-image: url('../../images/conclave-nav-bg.png');
        background-repeat: no-repeat;
        background-size: 1050px 200px;
        background-color: var(--whitebg);
        background-position: center;
        box-shadow: 0px 0px 22px #00000029;
        border-radius: 5px;
        padding: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        color: var(--theme2primarytextcolor);
        .rhs__section{
            margin-left: 80px;
        }
        .logo{
            position: absolute;
            left: 10px;
            z-index: 99;
        }
        h1{
            font-size: 24px;
            line-height: 28px;
            font-weight: 500;
            margin: 16px 0px 14px;
            text-align: center;
        }
        .conclave__venue__time{
            margin-bottom: 13px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
        .sponsor__strip{
            position: absolute;
            width: 100%;
            bottom: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 9px;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
            span{
                font-size: 11px;
                line-height: 21px;
                margin-right: 5px;
                color: var(--theme2primarytextcolor);
            }
            img{
                width: 104px;
                height: 31px;
            }
        }
    }
    .navigation__menu_container{
        display: flex;
        align-items: center;
        margin: 9px 10px;
        border-bottom: 1px solid #D1D1D1;
        padding-bottom: 2px;

        // Hamburger Dropdown Section Start
        .hambuger__dropdown{
            margin-right: 30px;
            position: relative;
            display: inline-block;
            img{
                height: auto;
                width: 100%;
            }
            &:after {
                content: "";
                position: absolute;
                height: 100%;
                border: 1px solid #D1D1D1;
                bottom: 0;
                left: 40px;
            }
            .dropdown__content {
                display: none;
                position: absolute;
                background-color: #F7F7F7;
                min-width: 173px;
                max-height: 330px;
                box-shadow: 3px 3px 6px #00000029;
                border: 1px solid #D1D1D1;
                border-radius: 0px 0px 5px 5px;
                z-index: 1;
                // margin-top: 2px;
                  ul{
                      li{
                          list-style: none;
                          a {
                            text-decoration: none;
                            display: block;
                            font-size: 16px;
                            line-height: 44px;
                            padding: 0px 20px;
                        }
                        &:first-child{
                            margin-top: 10px;
                        }
                        &:last-child{
                            margin-bottom: 10px;
                        }
                        &:nth-last-child(2){
                            a{
                                span{
                                    font-size: 10px;
                                    position: absolute;
                                    right: 20px;
                                }
                            }
                            &:hover .flashback__content{
                                display: block;
                            }
                        } 
                    }
                }
            }
            .flashback__content {
                display: none;
                position: absolute;
                background-color: #ECEDEE;
                min-width: 168px;
                max-height: 330px;
                overflow-y: auto;
                box-shadow: 3px 3px 6px #00000029;
                border: 1px solid #D1D1D1;
                border-radius: 0px 0px 5px 0px;
                z-index: 1;
                left: 168px;
                top: -1px;
                  ul{
                      li{
                          list-style: none;
                          a {
                            text-decoration: none;
                            display: block;
                            font-size: 14px;
                            line-height: 34px;
                            padding: 0px 20px;
                        }
                        &:first-child{
                            margin-top: 10px;
                        }
                        &:last-child{
                            margin-bottom: 10px;
                        }
                        &:nth-last-child(2){
                            a{
                                span{
                                    font-size: 10px;
                                    position: absolute;
                                    right: 20px;
                                }
                            }
                        } 
                    }
                }
            }::-webkit-scrollbar {
                width: 8px;
                height: 310px;
                border-radius: 9999px;
                background-color: #E0DFDF;
              }
              ::-webkit-scrollbar-thumb {
                background-clip: padding-box;
                border-radius: 9999px;
                background-color: #CECECE;
              }
        }
        .dropdown__content li:hover {background-color: #ECEDEE;}
        .hambuger__dropdown:hover .dropdown__content {display: block;}
        // Hamburger Dropdown Section End
        
        .nav__menu{
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                -ms-overflow-style: none;
                scrollbar-width: none;
                ul{
                    display: flex;
                    align-items: center;
                li{
                    list-style: none;
                    margin-right: 30px;
                    a{
                        font-size: 16px;
                        line-height: 23px;
                        cursor: pointer;
                        display: flex;
                        gap: 2px;
                        align-items: baseline;
                    }
                }&:last-child{
                    a{
                        span{
                            font-size: 10px;
                        }
                    }
                }&:last-child > :hover .header__flashback__content{
                    display: block;
                }
                .active{
                    font-weight: 600;
                    border-bottom: 3px solid var(--brandtextcolor);
                    a{
                        color: var(--brandtextcolor);
                    }
                }
            }
            .header__flashback__content {
                display: none;
                position: absolute;
                background-color: #ECEDEE;
                width: 173px;
                max-height: 330px;
                overflow-y: auto;
                box-shadow: 3px 3px 6px #00000029;
                border: 1px solid #D1D1D1;
                border-radius: 0px 0px 5px 0px;
                z-index: 1;
                right: 0;
                  ul{
                      display: block;
                      li{
                          list-style: none;
                          a {
                            text-decoration: none;
                            display: block;
                            font-size: 14px;
                            line-height: 34px;
                            padding: 0px 0px 0px 20px;
                        }
                        &:first-child{
                            margin-top: 10px;
                        }
                        &:last-child{
                            margin-bottom: 10px;
                        }
                    }
                }
            }::-webkit-scrollbar {
                width: 8px;
                height: 310px;
                border-radius: 9999px;
                background-color: #E0DFDF;
              }
              ::-webkit-scrollbar-thumb {
                background-clip: padding-box;
                border-radius: 9999px;
                background-color: #CECECE;
              }
        }&::-webkit-scrollbar{
            display: none;
        }
}
}


@media (min-width:$desktopver){	
    .conclave__secondary__nav{
        .nav__container{
            width: 1050px;
            .rhs__section{
                margin-left: 0px;
            }
                h1{
                    font-size: 36px;
                    line-height: 43px;
                }
                .conclave__venue__time{
                    font-size: 24px;
                    line-height: 30px;
                }
                .sponsor__strip{
                    span{
                        font-size: 16px;
                        line-height: 30px;
                        margin-right: 19px;
                        color: var(--theme2primarytextcolor);
                    }
                    img{
                        width: 197.07px;
                        height: 52px;
                    }
                }
        }
        .navigation__menu_container{
            margin: 9px 0px;
            // Hamburger Dropdown Section Start
            .hambuger__dropdown{
                margin-right: 30px;
                position: relative;
                display: inline-block;
                &:after {
                    left: 55px;
                }
            }
            .nav__menu{
                ul{
                    display: flex;
                    align-items: baseline;
                    li{
                        a{
                            font-size: 16px;
                            line-height: 23px;
                            cursor: pointer;
                        }
                    }&:last-child{
                        a{
                            span{
                                font-size: 10px;
                            }
                        }
                    }&:last-child > :hover .header__flashback__content{
                        display: block;
                    }
                    .active{
                        font-weight: 600;
                        border-bottom: 3px solid var(--brandtextcolor);
                        a{
                            color: var(--brandtextcolor);
                        }
                    }
                }
                .header__flashback__content {
                    right: auto;
                      ul{
                          display: block;
                          li{
                              list-style: none;
                              a {
                                text-decoration: none;
                                display: block;
                                font-size: 14px;
                                line-height: 34px;
                                padding: 0px 0px 0px 20px;
                            }
                            &:first-child{
                                margin-top: 10px;
                            }
                            &:last-child{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }  
    }
    }
}