
@import '../abstracts/functions';

.navigation{
	background-color:var(--navbg);
	padding-right:15px;
	position:fixed;
 	top:0;
 	left: -100%;
 	width:80vw;
 	height:100%;
	z-index:2;

	&::before{
		position: absolute;
	    left: 0;
	    width: calc((100vw - var(--maxcontinerwidth))/2);
	    height: 100%;
	    content: "";
	    background-color:var(--navbg);
	    top: 0;
	    z-index: -1;
	}

	.nav__container{
		.ssologin{
			padding:20px 0;
			border-bottom:1px solid var(--bordercolor);
			a{
				text-decoration: none;
				display: flex;
			.user__icon{width:30px; height:30px; background-color:#999; display: flex;justify-content: center;align-items: center; border-radius:100%; margin-right:10px;}
			.sign__btn{color:var(--brandtextcolor); border:1px solid var(--brandtextcolor); border-radius:30px; font-size:14px; line-height:27px;  background-color:#fff; padding:0 20px;}
			}
		}
		.darkmode{
			padding:20px 0;
			border-bottom:1px solid var(--bordercolor);

		.theme-switch-wrapper {
  				display: flex;
  				align-items: center; 
  				justify-content: space-between; 
 					span {
    					font-size:16px;
 					}
						.theme-switch {
							display: inline-block;
							height: 24px;
							position: relative;
							width: 40px;
						}

						.theme-switch input {
							display:none;
						}

						.slider {
							background-color:#999;
							bottom: 0;
							cursor: pointer;
							left: 0;
							position: absolute;
							right: 0;
							top: 0;
							transition: .4s;
						}

						.slider:before {
							background-color:var(--whitebg);
							bottom: 1px;
							content: "";
							height: 22px;
							left: 1px;
							position: absolute;
							transition: .4s;
							width: 22px;
						}

						input:checked + .slider {
							background-color:var(--brandtextcolor);
						}

						input:checked + .slider:before {
							transform: translateX(16px);
						}

						.slider.round {
							border-radius: 40px;
						}

						.slider.round:before {
							border-radius: 50%;
						}
		}


	}
		.main__nav{
			ul{
				list-style: none;
				li{
					padding-top: 10px;
					a{
						font-size:16px;
						line-height:1;
						text-decoration: none;
						color: var(--primarytextcolor);
						display: flex;
						align-items:center;

						.nav__iocn{
							width:30px;
							height:30px;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius:100%;
							background-color:var(--whitebg);
							border:1px solid var(--bordercolor);
							margin-right:10px;
						}
					}

					&.active{
						a{
							font-weight:600;
						}
					}
				}
			}
		}
	}
}

@media (min-width:$desktopver){
	.navigation{
	padding-right:20px;
	position:static;
	left:0;
	width: auto;
	border-right:2px solid var(--whitebg);
	box-shadow: inset -22px -22px 22px -22px #00000029;
	}
}