@import '../abstracts/functions';
@import '../abstracts/mixins';

.nocard__B1__s3__widget{
	.story__grid{
		@include blockwidgetstyle;
	   padding:15px 10px 0px;
	   margin-bottom:var(--widgetgap);
	   .header__nav{
		margin-bottom:15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	      .widgettitle__cion{
		    @include titlewidgetBlack;
			color:var(--primarytextcolor);
			@include titleicon;
	      }
       }
	.story__card{
		border-bottom:1px solid var(--widgetbordercolor);
		padding-bottom:20px;
		margin-bottom:20px;
	  .cat__title{
	  	@include titlewidgetRed;
	  	padding-bottom:10px;
	  }
	  .articletitle{
		font-size:16px;
		line-height:24px;
	  	color:var(--primarytextcolor);
	  	font-weight: 500;
	  	margin-bottom:5px;
	  	@include lineblock3;
	  }
	  .byline{
		  font-size:14px;
		  line-height:1;
		  color: var(--brandtextcolor);
		  font-style: italic;
		  margin-bottom:10px;
	  }
	  .story__shortcont{
	  	p{
	   		font-size:14px;
	   		line-height:20px;
	   		@include lineblock2;
	   		color:var(--secondarytextcolor);
			margin-bottom:15px;
	  	}
	  }
	  .content__thumbnail__wrap{
	   display:flex;

	   .story__thumbnail{
	    flex-basis:100px;
	    max-width:100px;
	    flex-shrink:0;
	    margin-left: 15px;
	    position: relative;
	    margin-bottom: var(--widgetgap);
		a{position: relative; display: flex;
	     img{
	     width:100%;
	     height:auto;
	     border-radius:5px;
	     border:1px solid var(--widgetbordercolor);
	     }
	   }
	}
	  }

	  &.Bcard{
	      h2{
			font-size:18px;
			line-height:26px;
	      }

	  	.story__shortcont{
	  	p{
	   		margin-bottom:15px;
	  	}
	  }

	  	.content__thumbnail__wrap{
	   		    flex-direction: column;	

	   		.story__thumbnail{
	    		flex-basis:100%;
	   			max-width:100%;
	    		flex-shrink:1;
	    		margin-left:0px;
	   }

	  }

	  }

	  .story__interaction{
	  	  width:100%;
	  	ul{
	  		list-style: none;
	  		display: flex;
	  		align-items:center;
	  		justify-content:space-between;
	  		li{
	  			display: flex;
	  			align-items:center;

	  			.rel__data{
	  				font-size:15px;
	  				line-height:1;
	  				color:#656565;
	  				margin-left:5px;
	  			}
	  		}
	  	}

	  }

	  &:nth-last-child(1){
	  	margin-bottom:0px;
	  }


	}
	
  }
/* City Dropdown Fields Stylesheet*/
.city__select select {
	position: relative;
	background: #EFF3F6;
	border: 1px solid #AAB9C4;
	border-radius: 4px;
	min-width: 250px;
	min-height: 29px;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 19px;
	-moz-appearance:none;
	  -webkit-appearance:none;
	  appearance:none;
	  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjUiIHZpZXdCb3g9IjAgMCA4IDUiPgogIDxwYXRoIGlkPSJJY29uX2lvbmljLW1kLWFycm93LWRyb3Bkb3duIiBkYXRhLW5hbWU9Ikljb24gaW9uaWMtbWQtYXJyb3ctZHJvcGRvd24iIGQ9Ik05LDEzLjVsNCw1LDQtNVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC05IC0xMy41KSIvPgo8L3N2Zz4K");
	  background-repeat: no-repeat;
	  background-position-x: 97%;
	  background-position-y: 12px;
  }
  /* End */
}

@media (min-width:$desktopver){
	.nocard__B1__s3__widget{
		.story__grid{
			@include desktopblockwidgetstyle;
		    padding:15px 20px 0px;
		
		.story__card{
			.articletitle{
				font-size:20px;
				line-height:28px;
				margin-bottom:10px;
				@include lineblock2;
			}
			.byline{
				font-size:14px;
				line-height:1;
				margin-bottom:15px;
			}
			.story__shortcont{
				p{
					 font-size:16px;
					 line-height:24px;
				}
			}
			.content__thumbnail__wrap{
				.story__thumbnail{
					flex-basis:115px;
					max-width:115px;
				}
			}
            &.Bcard{
				h2{
				 font-size:24px;
				 line-height:32px;
				}
	  
				.story__shortcont{
				p{
					 margin-bottom:10px;
				}
			}
	  
				
	  
			}
			.story__interaction{
				width: 340px;
			}

		}
	}
}

}

