@import '../abstracts/functions';

.section__secondary__nav{
    background:var(--catbrandcolor);
    border-radius:0px;
    padding:13px 10px 5px;
    box-shadow: 1px 1px 3px #00000029;
    .nav__container{
        h1{
             text-indent:-99999px;
             font-size:10px;
             color:var(--whitetextcolor);
             background-repeat: no-repeat;
             background-position-y:-10px;
             min-height:40px;
             margin-bottom:15px;
             &:not([style^="background-image:"]){
                text-indent:0px;
                font-size:30px;
                font-weight:500;
                min-height: auto;
                margin-bottom:10px;
             }
        }
        .secondary__navigation{
            ul{
                list-style:none;
                display: flex;
                overflow-x: auto;
               scroll-snap-type: x mandatory;
               -ms-overflow-style: none;
               scrollbar-width: none;
               padding-bottom:10px;

                li{
                    a{
                       color:var(--whitetextcolor);
                       font-weight:400;
                       font-size:16px;
                       line-height: 19px;
                       position: relative;
                       white-space: nowrap;
                       &:before{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        bottom: -7px;
                        left: 0;
                        background-color:#fff;
                        visibility: hidden;
                        transform: scaleX(0);
                        transition: all 0.3s ease-in-out;
                    }
                    }
                    &.active{
                        a{
                            &:before{
                            visibility: visible;
                            transform: scaleX(1);
                            }
                        }

                    }
                    &:not(:nth-last-child(1)){
                        margin-right:30px;
                    }
                    &:hover{
                        a{
                        &:before{
                            visibility: visible;
                            transform: scaleX(1);
                            }
                        }
                      }

                }

                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }
    }
}

@media (min-width:$desktopver){
    .section__secondary__nav{
        border-radius:5px;
        padding: 13px 20px;
        .nav__container{
            h1{
                &:not([style^="background-image:"]){
                    font-size:50px;
                }
            }
        }
    }
}