@import '../abstracts/functions';
@import '../abstracts/mixins';

.videoplayer__widget{
    @include blockwidgetstyle;
    background-color:var(--theme2bg);
   .videodetails{
    padding:20px 10px;
    border-top:1px solid #fff;
      .title{
          font-size:24px;
          line-height:30px;
          color:var(--whitetextcolor);
          margin-bottom:var(--magrin15);
      }



    .story-byline{
		display:flex;
		align-items: center;
		margin-bottom:var(--magrin15);
		.profile-pic{
			margin-right:10px;
			img{
				width:40px;
				height:40px;
				border:1px solid #d1d1d1;
				border-radius:100%;
			}
		}
		.profile-details{
			.story-author{
				font-size:14px;
				line-height:22px;
				font-weight:600;
                color:var(--whitetextcolor);
                a{
                    color:var(--whitetextcolor);
                }
			}
			.stryupdates{
				font-size:14px;
				line-height:22px;
				color:var(--whitetextcolor);
				.stryloction{
					margin-right:5px;
				}
			}

		}

	}
    .description{
        padding-top:15px;
        border-top:1px solid var(--theme2bordercolor);
        margin-bottom: var(--widgetgap);
        p{
            color:var(--whitetextcolor);
            font-size:14px;
            line-height:20px;
            margin-bottom: var(--magrin15);
        }
    }
/***** bottom SHARING Section START *****/
.sharing{
    margin-bottom: var(--widgetgap);
    ul{
        list-style: none;
        display: flex;
        max-width:340px;
        justify-content:space-between;
        .emoj{
           display: flex;
           align-items: center;
           font-size:15px;
           line-height:28px;
           color:var(--whitetextcolor);
           .rel-data{
            margin-left: 5px;
           }
        }
    }
}
/***** // bottom SHARING Section END // *****/
    /***** bottom COMMENTS FORM Section START *****/
    .commentsform{
       h4{
        color: var(--whitetextcolor);
	   }
    }
	/***** // bottom COMMENTS FORM Section END // *****/
   }
}



@media (min-width:$desktopver){
    .videoplayer__widget{
        @include desktopblockwidgetstyle;
       .videodetails{
        padding:20px;
        .title{
            font-size:30px;
            line-height:38px;
        }
        .story-byline{
			.profile-pic{
				margin-right:15px;
				img{
					width:50px;
					height:50px;
					
				}
			}
	
		}
        .description{
            padding-top:20px;
            p{
                font-size:16px;
                line-height:24px;
            }
        }
    
       }
    }

}