.visualStoryCard{
    .card__pic{
        margin-bottom: var(--magrin15);
        a{
            display: flex;
            position: relative;
            img{
                border-radius:5px;
                border:1px solid var(--widgetbordercolor);
            }
        }

    }
    .card__details{
        padding-bottom: 20px;
        .card__slug{
            font-size: 14px;
            font-weight:600;
            line-height: 1;
            color: var(--brandtextcolor);
            text-transform: uppercase;
            margin-bottom: 4px;
            display: block;
         }
        .card__titile{
            font-size:16px;
            line-height:24px;
            color:var(--primarytextcolor);
            font-weight:600;
        }
        p{
            font-size:16px;
            line-height:24px;
            color:var(--primarytextcolor);
        }
        .bottom__date__batch{
            font-style: italic;
            padding: 2px 10px;
            margin: 12px 0px 0px;
            background: #F2F2F2;
            color: #666666;
            border-radius: 5px;
            width: 153px;
            height: 21px;
            text-align: left;
            font-size: 14px;
            line-height: 18px;
        }
    }
}